:root {
  --sidebar-width: 240px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', Arial, sans-serif;
}

:lang(ko) {
  h1,
  h2,
  h3 {
    word-break: keep-all;
  }
}

header {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
}

.main-layout {
/* <<<<<<< HEAD
  height: 100vh;
  padding-top: 56px;
======= */
  /* height: 100vh; */
  margin-top: 56px;
}

.sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  width: var(--sidebar-width);
  /* overflow-y: scroll; */
}

.content {
  width: calc(100% - var(--sidebar-width));
  height: 100%;
  margin-left: var(--sidebar-width);
  display: flex;
  flex-direction: column;
}

.chip-categories {
  position: fixed;
  display: flex;
  height: 56px;
  width: inherit;
  background-color: bisque;
}

.video-grid {
  z-index: 1;
  height: 100%;
  position: relative;
  top: 56px;
  height: 1000px;
}

.shorts-container {
  display: flex;
  flex-direction: column;
  padding-top: 300px; /* 카테고리 바 높이만큼 패딩을 넣어서 작업하는 과정을 볼 수 있도록 함. */
}
